<%- include("./partials/header") %> 

<div id="landing-header">
  <h2>About</h2>
  <p>A place where you can find campgrounds.</p>
  <a class="btn btn-primary" href="/campgrounds">View Campgrounds</a>
</div>

<%- include("./partials/footer") %> 
