<%- include("./partials/header") %> 

<div id="landing-header">
  <h2>Page Not Found</h2>
  <a class="btn btn-primary" href="/campgrounds">View Campgrounds</a>
</div>

<%- include("./partials/footer") %> 
